src/main/mule/transaction-log-api.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">
    <http:listener-config name="transaction-log-api-httpListenerConfig">
        <http:listener-connection host="0.0.0.0" port="9092" />
    </http:listener-config>
    <apikit:config name="transaction-log-api-config" api="transaction-log-api.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <configuration-properties file="config.properties"/>
    <salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="c9e27226-0b1c-4469-988d-6a69e4352d14" >
		<salesforce:oauth-user-pass-connection consumerKey="${sf.consumerKey}" consumerSecret="${sf.consumerSecret}" username="${sf.username}" password="${sf.password}" securityToken="${sf.securityToken}" tokenEndpoint="${sf.tokenEndpoint}"/>
	</salesforce:sfdc-config>
	<flow name="transaction-log-api-main">
        <http:listener config-ref="transaction-log-api-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:router config-ref="transaction-log-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="transaction-log-api-console">
        <http:listener config-ref="transaction-log-api-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="transaction-log-api-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform doc:name="Transform Message">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="post:\logs:application\json:transaction-log-api-config">
		<set-variable value="#[payload]" doc:name="Set Variable" doc:id="c39ad25c-9643-4e76-abbc-4231d1a3cc34" variableName="req"/>
		<ee:transform doc:name="Transform Message" doc:id="2b462d25-9b66-4c2b-ac1f-54216619e8a1" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/java
---
[
{
 appName__c: vars.req.appName,
 Correlation_Id__c: vars.req.correlationId,
 Environment__c: vars.req.environment,
 Error_Description__c: vars.req.errorDescription,
 Exception_Message__c: vars.req.exceptionMessage,
 Integration_Message__c: vars.req.integrationMessage,
 Integration_Name__c: vars.req.integrationName,
 Source__c: vars.req.source,
 Status__c: vars.req.status,
 Status_Code__c: vars.req.statusCode,
 Timestamp__c: vars.req.timestamp as DateTime,
 Target__c: vars.req.target,
 Unique_Key_Object__c: vars.req.uniqueKeyObject,
 Unique_Key_Value__c: vars.req.uniqueKeyValue
}
]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="97ffbd15-b057-4bac-a0e5-b506f2e85892" message='#[write(payload, "application/json")]'/>
		<salesforce:create doc:name="Create" doc:id="55a34ad0-1cbd-4d14-8895-48e593b53675" config-ref="Salesforce_Config" type="Transaction_Log__c"/>
		<logger level="INFO" doc:name="Logger" doc:id="2bb698e3-efa5-48c1-a1ce-f2d8bcbc46d2" message='#[write(payload,"application/json")]'/>
		<ee:transform doc:name="Transform Message" doc:id="3234e21d-5353-4b75-bb5f-712089fcd109" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
    status: if (payload.successful) "Success" else "Failed",
    message: if (payload.successful) 
                "Error log created successfully in Salesforce"
             else 
                "Record creation failed",
    transactionLogId: payload.items[0].id,
    correlationId: vars.req.correlationId,
    salesforceId: payload.items[0].id
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="51f736bf-cd00-46be-aed7-150e1b618f70" message="#[payload]"/>
    </flow>
</mule>
